<div
  class="bg-black fixed bottom-0 left-0 right-0 w-screen flex justify-center px-5 pt-3 pb-3 sha"
>
  <div class="flex flex-col justify-center">
    <div class="flex flex-row justify-between w-full p-2">
      <mat-icon fontIcon="shuffle" class="text-subtitle"></mat-icon>
      <mat-icon fontIcon="skip_previous" class="scale-110"></mat-icon>
      <mat-icon fontIcon="pause_circle" class="scale-150"></mat-icon>
      <mat-icon fontIcon="skip_next" class="scale-110"></mat-icon>
      <mat-icon fontIcon="loop" class="text-subtitle"></mat-icon>
    </div>
    <div class="w-full">--:-- ---------------------------- --:--</div>
  </div>
</div>
