<aside class="w-full max-h-screen h-screen p-2 mr-2">
  <div
    class="buttons rounded-lg w-full h-min bg-black-main py-1 px-2 text-subtitle"
  >
    <a [routerLink]="['/']" routerLinkActive="active">
      <button
        class="home flex flex-row m-3"
        [ngClass]="{ 'text-white': this.router.url === '/home' }"
        sidebarButton
      >
        <mat-icon fontIcon="home"></mat-icon>
        <p class="pl-5 my-auto">Home</p>
      </button>
    </a>
    <a [routerLink]="['/search']" routerLinkActive="active">
      <button
        class="home flex flex-row m-3 transition"
        [ngClass]="{ 'text-white': this.router.url === '/search' }"
        sidebarButton
      >
        <mat-icon fontIcon="search"></mat-icon>
        <p class="pl-5 my-auto">Search</p>
      </button>
    </a>
  </div>
  <div
    class="library rounded-lg rounded-b-lg bg-black-main py-1 w-full mt-2 px-5 h-4/5 text-subtitle"
  >
    <div class="flex flex-row mt-3">
      <span class="home flex flex-row align-middle flex-1" sidebarButton>
        <mat-icon fontIcon="library_music"></mat-icon>
        <p class="pl-5">Your library</p>
      </span>
      <div class="m-auto">
        <mat-icon fontIcon="add" sidebarButton></mat-icon>
      </div>
    </div>
    <div class="filter-tags flex flex-row mt-2">
      <div class="rounded-full text-sm bg-spotify-gray p-2 mr-1 text-white">
        Playlist
      </div>
      <div class="rounded-full text-sm bg-spotify-gray p-2 mr-1 text-white">
        Author
      </div>
      <div class="rounded-full text-sm bg-spotify-gray p-2 mr-1 text-white">
        Album
      </div>
      <!-- TODO: aggiungere tag -->
    </div>
    <div class="mt-3 flex flex-row">
      <div class="flex-1">
        <mat-icon fontIcon="search" sidebarButton></mat-icon>
      </div>
      <div class="flex flex-row" sidebarButton>
        Recenti
        <mat-icon fontIcon="arrow_drop_down"></mat-icon>
      </div>
    </div>
    <div>
      <!-- TODO: add library matter -->
    </div>
  </div>
</aside>
