<div class="rounded-md bg-black-main w-full h-full px-5 py-3">
  <div class="fixed flex flex-row">
    <div class="relative flex-1">
      <button>
        <mat-icon fontIcon="arrow_back_ios"></mat-icon>
      </button>
    </div>
    <div class="relative">
      <button class="mr-3">
        <mat-icon fontIcon="notifications_none"></mat-icon>
      </button>
      <button>
        <mat-icon fontIcon="account_circle"></mat-icon>
      </button>
    </div>
  </div>

  <div class="mt-12 font-mono">
    <div class="flex flex-row">
      <h1 class="text-xl font-mono font-extrabold flex-1">
        Stazioni radio più popolari
      </h1>
      <div class="font-sans">Mostra tutto</div>
    </div>
    <div class="pt-6">
      <div class="rounded-md bg-black-secondary shadow-lg w-fit p-4">
        <span class="block bg-yellow-500 w-44 h-44 rounded-md mb-4"></span>
        <h3 class="font-extrabold">Titolo</h3>
        <h4 class="text-subtitle">Sottotitolo</h4>
      </div>
    </div>
  </div>
</div>
